body {
		background-color:#000;

}

.navbar{
	background-color:#000!important;
	text-align: right;
	
}
.nav-link {
	color:#ffffff!important;
}

.navbar-logo-img{
	width:80px;
}


.header-cover{
    width:100%;
    height:60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-text{
    color:#ffffff;
	text-align:center;
}

.fs-logo-img{
	width:400px;
}

.abstract-container {
	padding:5%;
	background-color:#000;
	color:#fff;
}



@media only screen and (max-width: 768px) {
	.fs-logo-img {
    width: 250px;
}
    .header-cover{
        width:100%;
        height:300px;
    }
    .header-text{
        padding: 0 5%;
        position: relative;
        left: unset;
    }
	
	.mobile-hide{
		display:none!important;
	}
}



@media (min-width: 768px) {
	
.navbar{
	padding:30px 1rem;
}
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
